<!DOCTYPE html>
<html>

  <% include partials/head.ejs %>

  <body>
  <% include partials/navbar.ejs %>
    <div class="col-sm-8 col-sm-offset-2">
      <br/><br/><br/><br/>
      <div class="jumbotron text-center">
        <h2>MyPDB Authentication</h2>
        <p>A Simple Authentication App built using Express, NodeJS & PassportJS.</p>
        <p>Able to login using Google+ and previous MyPDB Login</p>
      </div>
    </div>
  </body>

</html>