<!DOCTYPE html>
<html>

  <% include partials/head.ejs %>
  <body>

    <div class="col-sm-8 col-sm-offset-2">
      <br/><br/>
      <div class="text-center">
        <h2>Search Query</h2>
        <br/>
        <p>Search Query saved to XML</p>
      </div>
    </div>
  </body>

</html>