<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
  <% include partials/navbar.ejs %>
    <div class="col-sm-8 col-sm-offset-2">
      <br/><br/><br/>
      <div>
        <h2>Saved JSON Search to MongoDB</h2>
        <pre><%= user %></pre>
        <br>
        <div id="savedXMLtoMongoDB">
          <div class="form-group">
            <label>User Email</label>
            <input type="text" class="form-control" name="email" id="userEmail">
          </div>
          <div class="form-group">
            <label>Search Query Title</label>
            <input type="text" class="form-control" name="searchQueryTitle" id="searchQueryTitle">
          </div>
          <div class="form-group">
            <label>Query XML</label>
            <textarea class="form-control" name="query_XML" id="queryXML" rows="3"></textarea>
          </div>

          <!-- Next Scheduled Run Option -->
          <div class="row">
            <div class="col-xs-6">
              <p>Next Scheduled Run</p>
              <div class="form-group">
                <div class="radio">
                  <label>
                    <input type="radio" name="next_scheduled_run" value="monthly"> Monthly
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="next_scheduled_run" value="weekly" checked> Weekly
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="next_scheduled_run" value="none"> None
                  </label>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <!-- Email Notification Option -->
              <p>Email Notification</p>
              <div class="form-group">
                <div class="radio">
                  <label>
                    <input type="radio" name="email_notification" value="true" checked> Yes
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="email_notification" value="false"> No
                  </label>
                </div>
              </div>
            </div>
          </div>
          <br/><br/>
          <div>
            <button class="btn-primary btn" id="saveQueryXML">Save Query XML</button>
            <button class="btn-default btn" id="insertDummyData">Insert Dummy Data</button>
          </div>


        </div>


      </div>
    </div>
  </body>

</html>